{%extends 'pagina/este.html'%}
{%block content%}
          <h2>Ingreso de Actividades</h2>
                <br>
                    <p>Agregue las nuevas actividades.</p>
                <br>
            <br>
            <div id="cmr">
            <center><label id="mr"></label></center>
        </div><br>

<form class="form-horizontal" method="post">{% csrf_token %}

<!-- Form Name -->
<legend>Ingreso actividades</legend>

{{ formulario.non_field_errors }}

       <div class="form-group">
 {{ formulario.nombre.errors }}
       <label for="{{ formulario.nombre.id_for_label }}" class="control-label col-sm-2">Nombre</label>
       <div class="col-sm-5">
 {{ formulario.nombre }}
       </div>
       </div>

 <div class="form-group">
 {{ formulario.prioridad.errors }}
       <label for="{{ formulario.prioridad.id_for_label }}" class="control-label col-sm-2">Prioridad</label>
       <div class="col-sm-5">
 {{ formulario.prioridad }}
       </div>
       </div>

 <div class="form-group">
 {{ formulario.dificultad.errors }}
       <label for="{{ formulario.dificultad.id_for_label }}" class="control-label col-sm-2">Dificultad</label>
       <div class="col-sm-5">
 {{ formulario.dificultad }}
       </div>
       </div>

 <div class="form-group">
 {{ formulario.fecha_fin.errors }}
       <label for="{{ formulario.fecha_fin.id_for_label }}" class="control-label col-sm-2">Fecha Fin</label>
       <div class="col-sm-5">
 {{ formulario.fecha_fin }}
       </div>
       </div>


<!-- Button -->


<div class="form-group">
      <div class="col-sm-offset-2 col-sm-5">
        <input type="submit" class="btn btn-1 btn-warning" id="IngresarHoga" value="Ingresar Hogar">
      </div>
    </div>

</form>


{%endblock%}
